/* CSS stylesheet to style HTML elements of the Star Wars game. Needed to add custom styling not handled with Bootstrap.
 
   NAME: style.css
   AUTHOR: Elaina Swann
   DATE: 12/09/2017
   REVISION LOG:  
*/

#background {
  height: 100%;
  left: 0px; 
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.stretch {
  height: 100%;
  width: 100%;
}

h1, h2, h3 {
  color: white;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 6.5rem;
}

h2 {
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-family: "Oswald", sans-serif;
}

#img-col-obi, #img-col-luke, #img-col-darth, #img-col-leia {
  position: relative;
}

.img-label {
  position: absolute;
  width: 84%;
}

.name-label {
  top: 1%;
}

.number-label {
  bottom: -3%;
}

#obi, #luke, #darth, #leia {
  background-color: white;
  border: solid .4rem green;
  height: 15rem;
  padding: 1.5rem;
  width: 17rem;
}
