/* CSS stylesheet to style HTML elements of the Star Wars game. Needed to add custom styling not handled with Bootstrap.
 
   NAME: style.css
   AUTHOR: Elaina Swann
   DATE: 12/16/2017
   REVISION LOG:
    1.0  12/16/2017 - Baseline version. 
*/

#background {
  height: 100%;
  left: 0px; 
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.stretch {
  height: 100%;
  width: 100%;
}

h1, h2, h3 {
  color: white;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 6.0rem;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.8rem;
}

h3 {
  font-family: "Oswald", sans-serif;
}

.img-col {
  padding-right: 0;
  position: relative;
}

.img-label {
  position: absolute;
  width: 84%;
}

.name-label {
  top: 1%;
}

.number-label {
  bottom: -3%;
}

#obi, #luke, #darth, #leia {
  height: 15rem;
  padding: 1.5rem;
  width: 17rem;
}

.choose, .chosen {
  background-color: white;
  border: solid .4rem green;
}

.enemy {
  background-color: red;
  border: solid .4rem gray;
}

.defender {
  background-color: black;
  border: solid .4rem green;
}

label {
  color: black;
}

.defender-label {
  color: white;
}
